fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
httpx
loguru
numpy
scikit-learn
sentence-transformers
psycopg[binary]
PyMuPDF
ragas
qdrant-client
docling
google-genai
groq
streamlit
python-multipart